 

html    {
    scroll-behavior: smooth;
}

body {

    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;

    /*Midlertidig headerbilde*/

    /*backgrunnsbilde. Bildene er hentet fra Google. Lenken til kilden er brukt i koden*/
    background-image: url(https://thumbs.dreamstime.com/b/bronze-color-metallic-painted-matt-surface-wide-wallpaper-copper-coloured-texture-dark-golden-brown-background-bronze-color-231983332.jpg);
 
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: top left;
    background-size: 1000px 190px;
    width: fixed;
    background-position-x: 160px;
}


/* Et forsøk på header */

/* #header-background {
    width: 100%;
    height: 200px;
    background-image:url(https://images.squarespace-cdn.com/content/v1/5cc33b6a7eb88c1448e5ae72/1632523555377-7NLUN80WZGYFZYUSY7JD/coffee-header.jpg?format=2500w);
    
*/

/*
.header-image {
    background-image: url(Bilder/bakgrunn.jpg);
    }

*/



/*  Overskrift  */

h1 {
 color: white;
 text-align: center;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size: 80px;

}

h1 kafe-tittel  {
    display: flex;
    justify-content: center;
    
  
}

h2 {
    color:rgb(132, 83, 42);
    font-style: italic;
}

h3 {
    color:rgb(71, 43, 16); 

}
h3.allergi-liste-tittel {
    display: inline;
}

h4  {
    font-weight: 700;
    margin-bottom: -15px;
}
/* #kafe-tittel {
     text-align: center;
    color: whitesmoke;
    position:absolute; 
    margin-bottom: -20px;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
      } 
*/


/*  Navigerings meny  */
nav {  
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    
}

nav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li   {
    float: left;
    padding-right: 50 px;
    margin-right: 20px;
}

div.margin-kropp    {
    margin-left: 20%;
    margin-right: 20%;
}


/*  Mat meny  */

.meny   {
    display: flex;
    flex-direction: row;
}

.matklasse  {
    width: 50%;
    text-align: left; 
    justify-content: baseline;
}





a {
    color: rgb(0, 0, 0);
}

        /* Allergi-ikonene */
img.allergi {
    height: 15px;
}


div.liste-align    {
    text-align: center;
}
li.allergi-liste    {
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
}
li.allergi-liste-første     {
    display: inline;
    padding-right: 5%;
}
li.allergi-liste-siste  {
    display:inline;
    padding-left: 5%;
}




        /* Dette er for topp og bunn <hr> */
.hr1 {
    background-color:rgb(132, 83, 42);
    height: 3px;
}





.eggilias {
    abbr: 
}

.piss {
    font-weight: bold;
    
}

.pris {
    display: grid;
    padding-right: 15px;
    font-weight: bold;

}

.hitthegriddy {
    display: grid;
    font-weight: bold;

}
    /* dette under er for å lage gridsa i 'matkroppen og hvordan alt virker sammen */

.matkroppen {
    grid-template-columns: 6fr 1fr;
    margin-bottom: 0px;
    display: grid;
    box-sizing: border-box;
}

.matteksten {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    margin-bottom: 5px;
}

/* kode ala loardinho */

.matprisen {
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 0 3px;
}

.matsplit {
    border-right: 1px solid black;
    padding-right: 1px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

